body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;

}

.card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 15px;


}

.card img {
  border-radius: 5px 5px 0 0;
}

.charData {
  padding-left: 5px;
  padding-bottom: 10px;


}

.location-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px 0px 0 10px;
  margin-bottom: 15px;
  
}

.residents {
  box-sizing: border-box;
  padding-top: 10px;
  align-self: flex-end;
  background: lightgrey;
  width: 100px;
  height: 40px;
  border-radius: 5px 0px 5px 0;
  text-align: center;
  vertical-align: bottom;
}
